/* Estilos para el contenedor del contador */
.Counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  /* Estilos para los botones y número */
  .Controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .Button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Button:hover {
    background-color: #0056b3;
  }
  
  .Number {
    font-size: 1.5rem;
  }
  
  /* Estilos para el botón "Agregar al Carrito" */
  .AddToCartButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .AddToCartButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }