* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.NavbarItems {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1% 5.4%;
  transition: all 0.5s ease;
  background-color: rgba(19, 19, 19, 0.9);
  box-shadow: 3px 5px 10px black;
  backdrop-filter: blur(3px);
}

.logo {
  display: flex;
  width: 100%;
  justify-content: start;
  cursor: pointer;
}

.logo img {
  height: auto;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(1, 100px);
  grid-gap: 15px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 42%;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  white-space: nowrap;
}

.nav-links:hover {
  background: none;
  border-radius: 4px;
  transition: all 0.7s ease-in-out;
}

.fa-bars,
.fa-times {
  color: #fff;
}

.menu-icons {
  display: none;
}

.nav-title {
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

ul.nav-menu > li {
  display: inline-block;
  position: relative;
}

ul.nav-menu > li > a {
  font-size: .8rem;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  transition: 350ms;
  padding: 1.5% 24px;
}

ul.nav-menu > li > a:hover{
  background-color: rgb(255, 0, 0);
  color: #fff;
  padding: 1.5% 24px;
  border-radius: 5px;
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 red;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 red;
  }
}

@media screen and (max-width: 1110px) {

  .nav-menu{
    grid-gap: 1px;
  }

  ul.nav-menu > li > a {
    padding: 1.5% 11px;
  }

}


@media screen and (max-width: 936px) {
  .NavbarItems {
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(20, 20, 20, 0.897);
    box-shadow: 0 8px 32px rgb(31, 38, 135, .37);
    backdrop-filter: blur(4px);
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -110%;
    align-items: stretch;
    padding: 95px 0 30px 0;
    margin: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .nav-menu.active {
    left: 0%;
    z-index: -1;
    backdrop-filter: blur(4px);
    padding-bottom: 45px;
    
    
  }

  ul.nav-menu > li {
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul.nav-menu > li > a {
    display: flex;
    border-bottom: 1px solid rgb(56, 56, 56); 
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  ul.nav-menu > li > a:hover {
    background-color: #ff0000e3;
    border-radius: 0%;
    cursor: pointer;
    width: 100%;
  }

  .nav-links {
    display: block;
    widows: 100%;
    padding: 1rem 0;
    color: #fff;
  }

  .nav-links:hover {
    background: #ff0000;
    backdrop-filter: blur(20px);
  }

  .menu-icons {
    display: block;
  }

  .listado {
    margin-top: 10.7%;
  }

  .cart-shop-s0 {
    top: 100%;
    /* left: 50%; */
    right: 46%;
    bottom: 0;
  }
}


